{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Sentinel IoT - Overview</title>
    {% load static %}
    <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.6/dragula.min.css" rel="stylesheet">
    <link href="{%  static 'styles/main.css' %}" rel="stylesheet">
  </head>

  <body>

    <div id="react-app"></div>

    <script>
        window.info = {
            username: "{{ request.user.username }}",
            logout_url: "{% url 'logout' %}",
            demo: {{ demo|yesno:"true,false" }}
        };
        window.host = location.protocol + "//" + location.host;
        if(window.info.demo)
            window.host = window.host + "/demo"
    </script>
    {% render_bundle 'main' %}
    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
  </body>
</html>