<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sentinel IoT</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'styles/agency.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#demo">Demo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#source">Source</a>
            </li>
            <li class="nav-item">
                    {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'dashboard' %}">Proceed to Dashboard</a>
                    {% else %}
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Login / Sign Up</a>
                    {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
     aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#signup">Sign Up</a></li>
                    </ul>
                    <div class="tab-content" style="padding: 10px">
                        <div id="login" class="tab-pane fade in active show">
                            <div id="login-alerts">
                            </div>
                            <form method="POST" enctype="multipart/form-data" id="loginForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" name="username" placeholder="Enter username"
                                           pattern="[a-zA-Z0-9_.]{1,32}" required>
                                </div>
                                <div class="form-group">
                                    <label for="registerPassword">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password"
                                           required>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                            </form>
                        </div>
                        <div id="signup" class="tab-pane fade">
                            <div id="signup-alerts">
                            </div>
                            <form method="POST" enctype="multipart/form-data" id="signupForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" name="username" placeholder="Enter username"
                                           pattern="[a-zA-Z0-9_.]{1,32}" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" name="email"
                                           aria-describedby="emailHelp" placeholder="Enter email" required>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="checkPassword">Enter your password again</label>
                                    <input type="password" class="form-control" name="checkPassword" placeholder="Password"
                                           required>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">Sentinel IoT</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <p class="text-muted w-75 m-auto">Sentinel is an API that connects your home automation products with a robust and powerful backend, allowing you to just focus on making your product as good without having to worry about messy integration and servers. Sentinel provides an easy to use and extend Websockets API for devices to communicate with each other and for client apps to request and process all the data necessary to make a great product.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Features -->
    <section id="features" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Features</h2>
            <h3 class="section-subheading text-muted">Some of the features that make Sentinel great.</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Accessible</h4>
            <p class="text-muted">You can access Sentinel anywhere! Try it at home on your laptop and on your phone when you're on the go.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Easy to Extend</h4>
            <p class="text-muted">Sentinel makes it easy for you to connect your custom devices. Simply use one of our libraries for popular platforms and get connected!</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Secure</h4>
            <p class="text-muted">Sentinel ensures that all of the traffic between your hub and your device is secure so you don't have to worry about someone spying on you.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Demo -->
    <section id="demo">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Demo</h2>
            <p class="text-muted w-75 ml-auto mr-auto">Curious to see what a hub looks like? Click the button below to get a preview of your home's new control panel. Try a demo of Sentinel IoT today!</p>
          </div>
        </div>
        <div class="row">
            <!-- TODO: integrate demo link once the demo is finished -->
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger m-auto" href="/demo">Show Demo</a>
        </div>
      </div>
    </section>

    <section id="source" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Source</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <a href="https://github.com/sean-dooher/sentinel-iot">
                <span class="fa-stack fa-4x">
                  <i class="fab fa-github fa-2x text-primary"></i>
                </span>
            </a>
            <p class="text-muted">Sentinel is committed to remaining free and open source. Feel free to take a look through our code if you want to understand how Sentinel truly ticks. Submit a pull request with a bug fix or any changes you'd like to make. You can even fork us and make your own project based on Sentinel. It's completely up to you!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="copyright">Copyright &copy; Sentinel-IoT 2018</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'scripts/agency.js' %}"></script>
    <script src="{% static 'scripts/login.js' %}"></script>
  </body>

</html>
