django
django_jenkins
django-cors-headers
django-guardian
django-oauth-toolkit
django-polymorphic
django-webpack-loader
djangorestframework
websockets
channels==1.1.8
channels-api
redis
asgi-redis
psycopg2-binary
coverage