body {
        padding-top: 54px;
      }

      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

      .button-reveal {   
        height:20px; 
        width:100px; 
        margin: -20px -50px; 
        position:relative;
        top:50%; 
        left:60%;
      }

      .button-hide {   
        height:20px; 
        width:100px; 
        margin: -20px -50px; 
        position:relative;
        top:50%; 
        left:40%;
      }

      #sean img {
        filter: grayscale(100%);
        width: 200px;
        height: 200px;
        opacity: 0.5;

      }

      #arjun img {
        filter: grayscale(100%);
        width:200px;
        height:200px;
        opacity :0.5;

      }

      #victor img {
        filter: grayscale(100%);
        width:200px;
        height:200px;
        opacity :0.5;

      }
      
      @keyframes glow {
        from {
        box-shadow: 0 0 10px -10px #aef4af;
         }
        to {
        box-shadow: 0 0 10px 6px #aef4af;
      }
    }