<html>
	<head>
		<meta charset="utf8">
		{% load static %}
		<script src="{% static 'hub/Leaf.js' %}"></script>
	</head>
	<body>
		Open Door: <h4 id="currval"></h4>
        <button onclick="sendCond()">Send Condition</button>
        <script type="text/javascript">
			var uuid = 'f7bad74c-a876-41da-ab37-6c5752e94a25';
			var fakeLeaf = new Leaf("Door", "door01", uuid, "ws://" + window.location.host + "/hub/{{ hub }}", password="door_leaf");

			var scanner = new Device("door_open", false, "bool", DeviceMode.OUT);
			fakeLeaf.registerDevice(scanner);
			scanner.addListener((d) => document.querySelector("#currval").innerHTML = d.value);

			function sendCond() {
			    fakeLeaf.socket.send('{"type": "CONDITION_CREATE", "name": "led_on", "uuid":"f7bad74c-a876-41da-ab37-6c5752e94a25", "predicate": ["=", ["f7bfd74c-a876-41da-ab37-6c5752e94a25", "sensor"], 3032042781], "action": {"action_type": "SET","target": "f7bad74c-a876-41da-ab37-6c5752e94a25","device": "door_open","value":true}}')
			    fakeLeaf.socket.send('{"type": "CONDITION_CREATE", "name": "led_off", "uuid":"f7bad74c-a876-41da-ab37-6c5752e94a25", "predicate": ["!=", ["f7bfd74c-a876-41da-ab37-6c5752e94a25", "sensor"], 3032042781], "action": {"action_type": "SET","target": "f7bad74c-a876-41da-ab37-6c5752e94a25","device": "door_open","value":false}}')
			}
		</script>
    </body>
</html>