<html>
	<head>
		<meta charset="utf8">
		{% load static %}
		<script src="{% static 'hub/Leaf.js' %}"></script>
	</head>
	<body>
		New sensor value: <input type="text" name="sensor" id="sensor"> <br>
		<button onclick="submit()">Set</button>

		<h4 id="currval"></h4>
		<h4>auto: <span id="auto">1</span></h4>
		<script type="text/javascript">
			var uuid = 'f7bfd74c-a876-41da-ab37-6c5752e94a25';
			var fakeLeaf = new Leaf("RFID Scanner", "rfid01", uuid, "ws://" + window.location.host + "/hub/", password="test");

			var scanner = new Device("rfid", 312341, "number");
			fakeLeaf.registerDevice(scanner);

			function submit() {
				scanner.value = parseInt(document.querySelector("#sensor").value, 10);
				document.querySelector("#currval").innerHTML = scanner.value;
			}
		</script>
	</body>
</html>