<html>
	<head>
		<meta charset="utf8">
	</head>
	<body>
		New sensor value: <input type="text" name="sensor" id="sensor"> <br>
		<button onclick="submit()">Set</button>

		<h4 id="currval">313123</h4>
		<h4>auto: <span id="auto">1</span></h4>
		<script type="text/javascript">
			var lastRead = 312341;
			var uuid = 'f7bfd74c-a876-41da-ab37-6c5752e94a25';
			var isAuto = 1;
			var leaf = {
				type: 'CONFIG',
				uuid: uuid,
				model: 'rfid01',
				name: 'RFID Scanner',
				api_version: '0.1.0',
			};
			function submit() {
				lastRead = parseInt(document.querySelector("#sensor").value, 10);
				document.querySelector("#currval").innerHTML = lastRead;
				if(isAuto) {
					var msg = {
						type: 'DEVICE_STATUS',
						uuid: uuid,
						device: 'rfid',
						format: 'number',
						value: lastRead,
					};
					socket.send(JSON.stringify(msg));
				}
			}
			var socket = new WebSocket("ws://" + window.location.host + "/hub/");
			socket.onopen = function(event) {
				socket.send(JSON.stringify(leaf));
			}
			socket.onmessage = function(event) {
				var message = JSON.parse(event.data);
				console.log(event);
				var response = {
					uuid: leaf.uuid,
				} // 2 - sensor not found
				switch (message.type) {
					case 'SET_NAME':
						leaf.name = message.data;
						response.type = 'NAME';
						response.name = leaf.nam;
						break;
					case 'GET_NAME':
						response.type = 'NAME';
						response.name = leaf.nam;
						break;
					case 'LIST_DEVICES':
						response.type = 'DEVICE_LIST';
						response.sensors =[{
							name: 'rfid',
							format: 'number',
							options: {auto:isAuto}}];
						break;
					case 'CONFIG_COMPLETE':
						response = {
							type: 'DEVICE_STATUS',
							uuid: uuid,
							device: 'rfid',
							format: 'number',
							value: lastRead,
						};
						break;
					case 'SET_OPTION':
						if(message.data.device === 'rfid' && message.data.option === 'auto') {
							isAuto = parseInt(message.data.value, 10);
							document.querySelector("#auto").innerHTML = isAuto;
							response.type = "OPTION";
							response.option = message.data.option;
							response.value = isAuto;
						} else if (message.data.device == 'rfid') {
							response.type = "UNKNOWN_OPTION";
							response.option = message.data.option;
						} else {
							response.type = "UNKNOWN_DEVICE";
							response.device = message.data.device;
						}
						break;
					case 'GET_OPTION':
						if(message.data.device === 'rfid' && message.data.option === 'auto') {
							response.type = "OPTION";
							response.option = message.data.option;
							response.value = isAuto;
						} else if (message.data.device == 'rfid') {
							response.type = "UNKNOWN_OPTION";
							response.option = message.data.option;
						} else {
							response.type = "UNKNOWN_DEVICE";
							response.device = message.data.device;
						}
						break;
					case 'GET_SENSOR':
						if (message.data.device === 'rfid') {
							response.type = 'DEVICE_STATUS';
							response.value = lastRead;
							response.format = "number";
						} else {
							response.type = 'UNKNOWN_DEVICE';
						}
						break;
					case 'GET_CONFIG':
						response = leaf;
						break;
					default:
						break;
				}
				console.log(response);
				socket.send(JSON.stringify(response));
			}
		</script>
	</body>
</html>